In [2]:
import pandas as pd
import requests

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=YOUR_API_KEY&language=en-US&page=1')

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,164.235,8.706,26504
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,185.288,8.692,20118
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,126.065,8.576,12139
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,91.046,8.566,15546
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,78.205,8.544,8391

In [ ]:
dfs = []  # Initialize an empty list to hold DataFrames

for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=YOUR_API_KEY&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
    dfs.append(temp_df)  # Append each DataFrame to the list

df = pd.DataFrame(pd.concat(dfs, ignore_index=True))  # Concatenate all DataFrames in the list at once

In [ ]:
df